:root {
    --mainWidth: 1000px;

    --headerColor: #4F4557;
    --backgroundColor: #393646;
    --buttonColor: #6D5D6E;

    --headerTextColor: black;
    --buttonTextColor: white;
    --textColor: #F4EEE0;
    --footerTextColor: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    color: var(--textColor);
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    background: var(--backgroundColor);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

.header {
    height: 100px;
    background: var(--headerColor);
}

.header .inside {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--mainWidth);
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header .inside .left {
    height: 100%;
    display: flex;
    align-items: center;
}

.header .inside .left img {
    padding: 20px;
    height: 100%;
}

.header .inside .right {
    display: flex;
    align-items: center;
}

.header .inside .right a {
    padding: 25px;
    display: inline-block;
}

.header .inside .right a:hover {
    color: #6D5D6E;
}

.content {
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: var(--mainWidth);
}

@media screen and (min-width: 1000px) {

}