.pic_cover {
    background-size: cover;
}

.picture_box_big_boi {
    background-image: url("../images/bruno_foto_1.jpg");
}

.picture_box_big_boi_second{
    background-image: url("../images/bruno_foto_2.jpg");
}

.picture_box_1 {
    background-image: url("../images/bruno_foto_1.jpg");
}

.picture_box_2 {
    background-image: url("../images/bruno_foto_2.jpg");
}

.info_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 35px;
}

.info_box_1 {
    background: rgb(228, 228, 228);
    background: linear-gradient(144deg, rgba(228, 228, 228, 1) 42%, rgba(87, 208, 209, 1) 80%, rgba(12, 146, 147, 1) 100%);

    .top-section {
        > .text p:first-of-type {
            padding-top: 35px;
        }
    }
}

.info_box_2 {
    background: rgb(228, 228, 228);
    background: linear-gradient(340deg, rgba(228, 228, 228, 1) 42%, rgba(87, 208, 209, 1) 80%, rgb(13, 174, 175) 100%);

    .technologies {
        height: 100%;

        > h1 {
            margin-bottom: 20px;
        }

        .titles {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 25px;

            height: 90%;

            .title_section {
                display: flex;
                flex-direction: column;
            }

            .div_sum_up {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                width: 90%;

                margin-top: 5px;
                margin-bottom: 15px;

                .blob {
                    display: flex;

                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
                    border-radius: 24px;

                    padding: 5px 10px;

                    background: white;
                }
            }
        }
    }
}

.contact_small {
    display: flex;
    justify-content: space-between;

    > a:first-of-type {
        background: black;
        color: white !important;

        padding: 10px 25px;
        border-radius: 24px;
    }

    .icons {
        display: flex;
        gap: 25px;

        .icon {
            width: 40px;
            height: 40px;
            background: white;
            border-radius: 24px;

            > svg path {
                transition: fill 0.4s, background 0.4s;
            }

            &:nth-child(1):hover svg {
                fill: #8a31a9;
            }

            &:nth-child(2):hover svg {
                fill: #1a8cd8;
            }

            &:nth-child(3):hover svg {
                fill: #004182;
            }
        }
    }
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;

    background: white;

    .inside {
        display: flex;
        flex-direction: column;

        background: white;

        border-radius: 24px;

        width: 100%;
        height: 100%;

        .text_space {
            width: 100%;
            height: 90px;

            padding: 25px 25px 0 25px;
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 20px;

            width: 100%;
            height: 80%;

            > img {
                width: 100%;
                height: 100%;

                border-radius: 24px 0 24px 0;
            }
        }
    }
}

.contact {
    background: rgb(228, 228, 228);
    background: linear-gradient(151deg, rgba(228, 228, 228, 1) 66%, rgba(153, 162, 255, 1) 87%, rgba(53, 152, 255, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 35px;

    .top {
        > h1 {
            font-size: 2.3rem;
            margin-bottom: 15px;
        }

        > p:nth-child(3) {
            margin-top: 15px;
        }
    }
}

.section {
    display: flex;
    gap: 25px;

    width: 100%;

    margin-bottom: 25px;
}

.smoll_sec {
    height: 400px;
}

.smoller_sec {
    height: 300px;
}

.module_6-4 {
    .container:nth-child(1) {
        height: 100%;
        width: 60%;
    }

    .container:nth-child(2) {
        height: 100%;
        width: 40%;
    }
}

.module_4-6 {
    .container:nth-child(1) {
        height: 100%;
        width: 40%;
    }

    .container:nth-child(2) {
        height: 100%;
        width: 60%;
    }
}

.module_1 {
    .container:nth-child(1) {
        height: 100%;
        width: 100%;
    }
}

.module_1-1 {
    .container:nth-child(1) {
        height: 100%;
        width: 50%;
    }

    .container:nth-child(2) {
        height: 100%;
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --mainWidth: 100%;
    }

    .info_box {
        padding: 25px;
    }

    .row_2 {
        height: fit-content;

        .info_box {
            width: 72% !important;

            .technologies .titles {
                gap: 5px;
            }
        }

        .picture_box_2 {
            height: auto !important;
            background-position: right;
        }
    }

    .div_sum_up {
        width: 100% !important;
    }
}

@media screen and (max-width: 890px) {
    h1 {
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 750px) {
    #projects {
        display: flex;
        flex-wrap: wrap;

        gap: 10px;
    }
    .project {
        width: 100% !important;
    }

    .info_box_1 .top-section .text p:first-of-type {
        padding-top: 10px;
    }

    .picture_box_big_boi_second {
        display: block !important;
        width: 420px;
        height: 350px;

        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .content {
        padding: 10px 10px 0 !important;
    }

    .info_box {
        padding: 15px;
    }

    .picture_box_1 {
        height: auto !important;
        width: calc(40% - 10px) !important;
    }

    .section {
        margin-bottom: 10px;
    }

    .row_1 {
        height: fit-content;

        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;

        .contact_small {
            padding-top: 25px;

            .icons {
                gap: 5px;
            }
        }
    }
    .row_2 {
        height: fit-content;

        flex-direction: row;
        flex-wrap: wrap;

        .info_box {
            width: 100% !important;
        }
        .pic_cover {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .info_box_1{
        width: 100% !important;
    }

    .picture_box_1 {
        display: none !important;
    }

    .picture_box_big_boi {
        display: block !important;
        width: 420px;
        height: 350px;

        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .contact_small {
        .icons {
            gap: 5px;
        }
    }
}

@media screen and (max-width: 458px) {
    .picture_box_big_boi {
        width: 100%;
    }

    .picture_box_big_boi_second {
        width: 100%;
    }
}